body {
  background-color: #fffbf7;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}
.fixed-header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color:#fffbf7 ;
}

.main {
  margin: 140px 0 0;
  padding: 10px;
  text-align: center;
}

.main h1 {
  color: #025157;
  font-weight: 900;
  font-size: 60px;
  font-family: "Alegreya", serif;
}
.texto-gris {
  color: #46484c;
}
.main form button {
  color: #fff;
  background-color: #025157;
  height: 47px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
}
.main form input {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 45px;
  margin-right: -5px;
  border: 1px solid #c6c6c6;
  padding: 0 5px;
}
.main .grey-text {
  color: #a6a6a6;
  margin-bottom: 5px;
}
.main .banner {
  margin-top: 25px;
  text-align: center;
}
.main .second-image {
  width: 70%;
}
.header {
  margin: 40px 20px 0;
  font-size: 0; /*al poner inline se pone eso para evitar que los caracteres generes espacios*/
  text-align: center;
}
.header >*{
  display: inline-block;
  font-size: 16px;
  height: 100%;
  line-height:45px; /*de donde estoy asegurar ancho*/
  vertical-align: middle;
}
header li{
  display: inline;  
}
header ul{
padding: 0;
}

.logo{
  width: 15%;
  text-align: left;
}

.logo > img{
  height: 100%;
}

.navbar{
  width: 100%;
  color: #025157;
  font-weight: 500;
}
.navbar li{
  display: inline;  
}
.navbar ul{
padding:0;
margin: 0 auto;
}

.navbar .actions{
  width: 25%;
  text-align: right;
  font-weight: 600;
  font-size: 14px;
}

.actions > *{
  margin: 0 10px;
}

.navbar .actions a{
  color: #67B54B;
  text-align: center;
  padding: 5%;
  margin-right: 0px;
}

.actions button{
  color: white;
  background-color: #67b54b;
  height: 50px;
  border: 0;
  border-radius: 5px;
  font-weight: 500;
  width: 50%;
  margin-left: 0px;
}

.menu-item{
  margin: 0 25px;
}
.publish{
  flex:1;
}
.publish h3{
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
  padding:0 10px;
}
.div-publish >p{
  color: #8b8b8bcc;
    margin-top: 15px;
}

.publish form button {
  color: #fff;
  background-color: #025157;
  height: 47px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
}
.publish form input {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 45px;
  margin-right: -5px;
  border: 1px solid #c6c6c6;
  padding: 0 5px;
}
 .promo{
   display: flex;
   flex-direction: row;
   width: 70%;
   margin: 100px auto;
   align-items: center;
 }
.explanatory-video{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
}
.explanatory-video img{
  width: 120px;
  margin-top: 10px;
}

.success-stories {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.success-stories .overview {
  flex: 2;
  padding-right: 100px;
}

.success-stories .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}

.success-stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.success-stories .overview button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
  background-color: #025157;
  color: #fff;
  border: none;
}

.success-stories .overview img {
  width: 500px;
  max-width: 100%;
}
.success-stories figure{
 margin: 0;
}


.success-stories .card {
  flex: 1;
}

.div-card{
  height:700px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
}

.success-stories .card .card-media {
  position: relative;
}

.success-stories .card .div-card img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.success-stories .card .div-card .company {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-stories  .card .card-body, .success-stories  .card .card-footer {
  padding: 25px;
}

.success-stories .card .card-body h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.success-stories .card .card-body h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.success-stories  .card .card-body .results {
  display: flex;
  align-items: center;
  color: #828282;
}

.success-stories  .card .card-body .results img {
  width: 26px;
  margin-right: 20px;
}

.success-stories .card .card-footer {
  margin-bottom: 20px;
  background-color: unset;
  border-top: unset;
}

.success-stories .card .card-footer button {
  display: block;
  margin-left: 0;
  border-radius: 5px;
  font-size: 13;
  font-weight: 600;
  padding: 12px 20px;
  width: 100%;
  color: #fff;
  background-color: #025157;
  border: 0;
}

.features{
  display: grid;
  background-color: #025157;
  grid-template: repeat(2,330px) / repeat(2,1fr);
  /* height:660px ; */
  padding: 5% 10%;
}

.feature-card{
   margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.features .feature-card .feature-content {
  padding: 30px 20px 40px 40px;
  flex: 2;
}

.features .feature-card .feature-content figure{
  margin-left: 0;
}

.features .feature-card .feature-content img {
  width: 50px;
}

.features .feature-card .feature-content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .feature-card .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .feature-card .feature-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
    transition: right 1s;
}

.features .feature-card .feature-image figure, .features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}

.features .feature-card .feature-image:hover{
  right: 0;
}

.how-does-it-work {
  background-color: #fffbf7;
  padding: 5% 10%;
  text-align: center;
}

.how-does-it-work .title {
  color: #025157;
  font-size: 50px;
  line-height: 60px;
  font-weight: 800;
  font-family: "Alegreya", serif;
  margin-bottom: 8px;
}

.how-does-it-work .description {
  max-width: 60%;
  color: #46484c;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 16px;
}

.how-does-it-work .description a {
  color: #67b54b;
  text-decoration: none;
}


.how-does-it-work .description a {
  color: #67b54b;
  text-decoration: none;
}

.how-does-it-work button {
  font-size: 14px;
  font-weight: 600;
  padding-top: 12px 12px 6px 12px;
  height: 45px;
  margin-left: 0;
  border-radius: 8px;
  margin-top: 6px;
  background-color: #025157;
  color: #fff;
  border: 0;
  outline: none;
}


.how-does-it-work .steps {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.how-does-it-work .steps .card-step {
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.how-does-it-work .steps .card-step {
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.how-does-it-work .steps .card-step .card-step-image .card-step-bg {
  width: 100%;
  height: 100%;
}

.how-does-it-work .steps .card-step .card-step-image .card-step-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 21px;
}

.how-does-it-work .steps .card-step .card-step-body {
  padding: 15px;
}

.how-does-it-work .steps .card-step .card-step-body h3 {
  font-size: 30px;
  line-height: 36px;
  font-family: "Alegreya", serif;
  color: #025157;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
}

.how-does-it-work .steps .card-step .card-step-body p {
  font-size: 15px;
  line-height: 1.5;
  color: #46484c;
  font-weight: 400;
  height: 85px;
  margin-bottom: 10px;
  overflow: hidden;
}

.how-does-it-work .steps .card-step .card-step-body a {
  font-size: 15px;
  line-height: 1.4;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}


@media (max-width:425px){
  .navbar,
  .actions{
    display: none;
  }

  .logo {
    width: 20%;
    text-align: left;
  }
  .logo > img {
    height: 100%;
  }

  .navbar {
    color: #025157;
    font-weight: 500;
  }
  .actions {
    width: 20%;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
  }

  .main{
    margin-top: 30px;
  }

  .main h1{
    font-size: 35px;
  }

  .main .banner > img{
    width: 100%;
  }
   .main .second-image{
     display: none;
   }

   .promo{
     flex-direction: column;
     width: 90%;
     margin-top: 30px;
     margin-bottom: 30px;
   }

  .promo .explanatory-video > video{
    width: 100%;
  }

  .promo .publish > h3{
    font-size: 25px;
    line-height: 1.2;
  }

  .promo .publish{
    margin-top: 10px;
  }

  .promo .div-publish{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features{
  grid-template: repeat(4, 1fr) / 1fr;
  padding: 5% 0 ;
  }

  .features .feature-card .feature-image{
    display: none;
  }

  .success-stories{
    flex-direction: column;
    padding: 5% 15px;
  }

  .success-stories .overview{
    padding-right: unset;
  }

  .success-stories .overview >h2{
    font-size: 25px;
    line-height: 30px;
  }

  .success-stories .card-media .company img{
    width: 70px;
    height: 40px;
  }

}

